<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         cacheTokens="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true"
         verbose="false">

    <testsuites>
        <testsuite name="Bolt Thumbnail Handler Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" 
            target="tests/report" 
            showUncoveredFiles="true" 
            lowUpperBound="50"
            highLowerBound="90"/>
    </logging>
</phpunit>
